* {
  padding: 0;
  margin: 0;
}

.titulo {
  display: flex;
  background-image: url("/images/alternative.png");
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  flex-flow: wrap;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  margin: 30px;
  width: 100%;
}

.menu a {
  margin: 10px;
  color: #313947;
}

header {
  color: black;
  font-size: 150px;
  padding: 30px;
  width: 100%;
}

p {
  color: black;
  font-size: 90px;
  padding: 30px;
  width: 100%;
}

.inicio {
  background-image: url("/images/environment.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 2000px;
  padding-top: 70px;
}

.curso1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 90px;
  color: white;
  padding-top: 70px;
  margin: 40px;
}

.cursos {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 25px;
}

.cursos a {
  box-shadow: 0px 0px 1px 1px #FFF4EB;
  background-color: #1dc43c;
  color: white;
  text-shadow: 1px 1px 2px white;
  border-radius: 2px 2px 2px 2px;
  font-size: 90px;
  text-decoration: none;
  padding: 30px;
  margin: 100px;
  height: 200px;
  width: 900px;
  text-align: center;
}

.cursos a:hover {
  color: green;
}

.environment {
  background-image: url("/images/planting.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 2000px;
  padding-top: 70px;
}

.descripcion {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 90px;
  color: white;
  padding-top: 70px;
  margin: 40px;
}

.comenzar {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 25px;
}

.comenzar a {
  box-shadow: 0px 0px 1px 1px #FFF4EB;
  background-color: #1dc43c;
  color: white;
  text-shadow: 1px 1px 2px white;
  border-radius: 2px 2px 2px 2px;
  font-size: 90px;
  text-decoration: none;
  padding: 30px;
  margin: 100px;
  height: 200px;
  width: 900px;
  text-align: center;
}

.comenzar a:hover {
  color: green;
}

.principal {
  background-image: url("/images/arrows.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 2000px;
  padding-top: 70px;
}

.registro {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 25px;
}

.register, .login {
  margin:200px;
}

.register a, .login a{
  box-shadow: 0px 0px 1px 1px #FFF4EB;
  background-color: #1dc43c;
  color: white;
  text-shadow: 1px 1px 2px white;
  border-radius: 2px 2px 2px 2px;
  font-size: 90px;
  text-decoration: none;
  padding: 30px;
  margin: 100px;
  height: 200px;
  width: 900px;
  text-align: center;
}

.register a:hover, .login a:hover {
  color: green;
}

.form-style-5{
    max-width: 800px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 40px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 3.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

.card-header {
  font-size: 50px;
  margin-bottom: 10px;

}

.col-md-6 input {
  height: 70px;
  font-size: 50px;
}

.col-md-4 {
  font-size: 30px;
}

.alerta {
  padding: 20px;
  font-size: 20px;
}

.col-md-6 button {
  font-size: 40px;
  height: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.col-md-6 button:hover {
  opacity:1;
}

.form-check-input {
  width: 60px;
}

.form-check-label {
  font-size: 30px;
}

.form-group label {
  font-size: 30px;
}

.col-md-8 button {
  font-size: 40px;
}

.col-md-8 a {
  font-size: 40px;
}

.perfil {
  display: flex;
  justify-content: center;
  flex-flow: column;
  font-size: 20px;
  background-color: white;
}

.ficha {
  display: flex;
  justify-content: center;
  flex-flow: column;
  font-size: 20px;
  background-color: #356fd6;
}

.logout {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100px;
  font-size: 20px;
  background-color: white;
}

.video {
  width: 50%;
  height: 300px;
  background-color: black;
}

.biblio {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 100%;
  height: 100px;
}

.quiz {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
}

#list {
  list-style-type: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}









footer {
  display: flex;
  justify-content: center;
}
